


.center {
	position: absolute;
	width: 400px;
	/*height: 200px*/;
	left: 40%;
	top:40%;
	/*margin: -60px 0px 0px -60px*/;
	border: 1px solid #F00;
	padding: 10px;
}
.center label{
float: right;

	}
	
	.perL{
	width:30%;
	float: left;
	}
	
	.perR{
	float: right;
	width:70%;
	
	}
	.center input{
	width:200px;
	}
	
	 #code  
            {  
                font-family:Arial;  
                font-style:italic;  
                font-weight:bold;  
                border:0;  
                letter-spacing:2px;  
                color:blue;  
            }  
            
            
	